.App {
  text-align: center;
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 10vw 50px;
  grid-template-areas:
    'header currentUser'
    'navBar navBar'
    'articles articles';
}

.header {
  grid-area: header;
  text-align: left;
  background-color: gray;
  display: grid;
  grid-template-columns: 10vw auto;
  grid-template-areas: 'headerlogo h1';
}

.header h1 {
  padding-left: 1vw;
  margin-top: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 10vw;
  grid-area: h1;
  color: white;
  height: 10vw;
}

.headerLogo {
  height: 10vw;
}

.sortForm {
  background-color: gray;
  padding-bottom: 1vh;
  padding-top: 1vh;
}
.currentUser {
  grid-area: currentUser;
  display: grid;
  grid-template-areas: 'nameOfUser pic' 'username pic' 'changeUserForm changeUserForm';
  grid-template-rows: 5vw 3vw 2vw;
  grid-template-columns: 3fr;
  background-color: gray;
  color: white;
}

.nameOfUser {
  padding-right: 1vw;
  font-size: 4vw;
  text-align: right;
  font-weight: bold;
  margin-block-start: 0em;
  margin-block-end: 0em;
  grid-area: nameOfUser;
}

.username {
  padding-right: 1vw;
  font-size: 2vw;
  text-align: right;
  margin-block-start: 0em;
  margin-block-end: 0em;
  grid-area: username;
}

.userImg {
  grid-area: pic;
  height: 7vw;
}

.changeUserForm {
  grid-area: changeUserForm;
  display: grid;
  grid-template-areas: 'newUserInput newUserSubmit';
}

.newUserInput {
  grid-area: newUserInput;
}

.newUserSubmit {
  grid-area: newUserSubmit;
}

.navBar {
  background-color: gray;
  grid-area: navBar;
  height: auto;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.main {
  grid-area: articles;
  text-align: center;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

body {
  margin: 0;
}

ul {
  list-style: none;
}

.articleList {
  padding-inline-start: 4vw;
  padding-inline-end: 4vw;
}

.article {
  margin-top: 4vh;
  border: 2px red;
  border-style: solid;
  display: grid;
  grid-template-columns: 10vw, 10vw, 10vw, 10vw, 10vw;
  grid-template-areas:
    'title title title title voter'
    'title title title title voter'
    'topic author time comments voter';
}

.articleTitle {
  grid-area: title;
  text-align: left;
  padding-inline-start: 4vw;
}

.upVote {
  grid-area: upVote;
  height: 5vh;
}

.downVote {
  grid-area: downVote;
  height: 5vh;
}

.votes {
  grid-area: votes;
}

.vote {
  grid-area: voter;
  display: grid;
  grid-template-areas:
    'upVote downVote'
    'votes votes';
}

.articleTopic {
  grid-area: topic;
}

.articleAuthor {
  grid-area: author;
}

.articleTime {
  grid-area: time;
}

.articleComments {
  grid-area: comments;
}

.articleAndComments {
  padding-left: 3vw;
  padding-right: 3vw;
  display: grid;
  grid-template-columns: 1fr 4fr 3fr;
  grid-template-areas: 'voter article newComment' 'voter article commentList';
}

.singleArticle {
  grid-area: article;
  text-align: left;
}

.newComment {
  grid-area: newComment;
  display: grid;
  padding-inline-start: 2vw;
  grid-template-areas: 'commentInput' 'commentPost';
}

.commentInput {
  grid-area: commentInput;
  height: 10vh;
}

.commentPost {
  grid-area: commentPost;
}

.commentList {
  height: 60vh;
  overflow: auto;
  /* overscroll-behavior-y: contain; */
  grid-area: commentList;
  padding-inline-start: 2vw;
  text-align: left;
}

.commentCard {
  display: grid;
  grid-template-columns: 70% 15% 15%;
  grid-template-areas:
    'commentAuthor voter voter'
    'commentTime voter voter'
    'commentBody commentBody delete';
}

.delete {
  grid-area: delete;
}

.commentAuthor {
  grid-area: commentAuthor;
}

.commentTime {
  grid-area: commentTime;
}

.commentBody {
  grid-area: commentBody;
}
